body{
    font-family: 'poppins';
}

nav{
    background-color: black;
    color: white;
    display: flex;
    list-style-type: none;
}

#linktoco{
    font-size: x-large;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: white;
}

#firstitem li{
    padding: 10px;
}

#seconditems li{
    display: flex;
    padding: 10px;
}

#start{
    background-color:  #ED661F;
    padding: 10px;
}
#secondItems{
    display: flex;
    align-items: center;
}

#secondItems :first-child{
    padding-right: 10px;
}
.active{
    text-decoration: 4px underline #ED661F;
    text-underline-offset: 8px;
}